#img1{
    transform: matrix(1, 2, 3, 4, 5, 6,);
}

#img2{
    transform:  scale(2, 0.5);
}

#img3{
    transform: skew(16deg, 23deg);
}

#img4{
    transform: rotate(0,5turn);
}

#img5{
    transform: translate(130px, 50%);
}